<!-- <div class="main flex flex-col overflow-hidden">
    <div class="d1 h-28 w-28 bg-slate-100 relative">
        <button (click)="onclick()">click</button>
        <h1>main d1</h1>
    </div>
    <ng-container *ngIf="visible" >
    <div  class="d2" class="d1 h-28 w-28 bg-slate-300 absolute bottom-[0%] ">
        <h1>main d2</h1>
    </div>
</ng-container>

</div> -->
<!-- {{ visible ? '-bottom-[100%]' : 'bg-slate-300' }} -->
<!-- {{visible}} -->



<!-- <div class="w-4/5 mx-auto text-center py-12 mt-60">
    <div>
        <button
            class="bg-blue-500 text-white py-4 px-8 rounded text-xl hover:bg-blue-300 transition-color duration-200 delay-200">Click</button>
    </div>
    <div class="div transition-transform hover:-translate-y-60">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
    </div>
</div> -->


