<div class="h-[100vh] items-center overflow-hidden" id="main">
  <header class="relative flex  items-center justify-between p-2 mt-7">
    <i (click)="goToHomePage()" class='bx bx-caret-left-circle text-3xl'></i>
    <h2 class="font-aclonica text-2xl font-Aclonica text-orange-500 font-bold font-Inter w-135 h-22">Pitla <span
        class="text-green-500 ml-2">Bhakri</span></h2>
    <i (click)="toToProfilePage()" class='bx bx-user-circle text-3xl'></i>
  </header>
  <div class="px-2 mt-2 flex flex-col items-center md:flex-row md:justify-evenly w-full p-0 gap-2">
    <img class="w-96 h-52 rounded-[1.25rem]" src="../../assets/image 2.jpg" alt="image">
    <h1 class="mt-5 text-xl font-bold md:mx-1">Order Id {{ls.foodorderdata.id}}</h1>
  </div>
  <div class="px-3">
    <p class=" mt-5 text-[18px] font-bold">Content</p>
    <div class="flex md:w-[50%] justify-between">
      <div>
        <div class="flex gap-3 mt-4">
          <img src="../../assets/Group.png" alt="">
          <p class="font-Roboto font-bold text-xs">Bhakri</p>
        </div>
        <div class="flex gap-3 mt-4">
          <img src="../../assets/Vector.png" alt="">
          <p class="font-Roboto font-bold text-xs">Pitla</p>
        </div>
      </div>
      <div class="mt-5 items-center">
        <div class="flex w-20 justify-between">
          <img class="h-4 w-4 mt-1" src="../../assets/Button (1).png" alt="">
          <p>{{ls.foodorderdata.bhakri}}</p>
          <img class="h-4 w-4 mt-1" src="../../assets/Button.png" alt="">
        </div>
        <div class="flex w-[80px] justify-between mt-4">
          <img class="h-4 w-4 mt-1" src="../../assets/Button (1).png" alt="">
          <p>{{ls.foodorderdata.pithla}}</p>
          <img class="h-4 w-4 mt-1" src="../../assets/Button.png" alt="">
        </div>
      </div>
    </div>
    <div class="mt-5 md:w-[50%] flex justify-between items-center">
      <p class="text-lg font-bold">Taste</p>
        <p class="font-Roboto font-bold text-l w-20">{{ls.foodorderdata.test}}</p>
    </div>
    <div class="mt-5 main flex justify-between items-center px-4 w-full h-10 md:w-[50%] rounded-lg bg-yellow-500">
      <h1 class="text-l font-bold">Total</h1>
      <h1 class="text-l font-bold">₹{{ls.foodorderdata.totalprice}}</h1>
    </div>
    <div class="flex justify-end">
      <button (click)="ls.updatestatus()" (click)="backpage()"
        class="mt-[10px] text-[1rem] py-2 w-[80px] font-medium content-center text-orange-50 bg-orange-500 rounded-md">Cancel</button>
    </div>
  </div>
</div>