<header class="relative flex  items-center justify-between p-2 mt-7">
    <i routerLink="/" class='bx bx-caret-left-circle text-3xl'></i>
    <h2 class="font-aclonica text-2xl font-Aclonica text-orange-500 font-bold font-Inter w-135 h-22">Pitla <span class="text-green-500 ml-2">Bhakri</span></h2>
    <i class='bx bx-user-circle text-3xl'></i>
</header>
<p class="text-base font-medium font-Roboto leading-normal p-2 ml-2 mt-4">Settings</p>
<hr class="w-full h-1 text-gray-800 flex items-center justify-center p-2 mt-1">
<div class="ml-8 mt-4">
    <p routerLink="/user-profile" class="font-Roboto text-sm font-medium "><i class='bx bxs-edit mr-2'></i>Edit Profile Details</p>
    <p class="font-Roboto text-base font-medium mt-10"><i class='text-base bx bxs-file-blank mr-2'></i>Language</p>
    <p class="font-Roboto text-base font-medium mt-10"><i class='text-base bx bxs-key mr-2'></i>Change Password</p>
    <p class="font-Roboto text-base font-medium mt-10"><i class='text-base bx bxs-check-shield mr-2'></i>Privacy & Security</p>
    <p class="font-Roboto text-base font-medium mt-10"><i class='text-base bx bxs-help-circle mr-2'></i>Help & Support</p>
    <p class="font-Roboto text-base font-medium mt-10"><i class='text-base bx bx-message-rounded-error mr-2'></i>About</p>
</div>